@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: #ffffff;
  --foreground: #780f0f14;

  --black-primary: #1c1c1c;
  --black-secondary: #6a6a67;
  --black-third: #757575;

  --border: #dcdce6;

  --white-primary: #fcfbf3;
  --white-secondary: #f5f7ff;

  --gray-primary: #4a4949;
  --gray-secondary: #9f9d9d;

  --blue-primary: 0, 112, 224;
  --success: 122, 205, 37;
  --danger: #d51516;

  --purple-primary: #4a1d96;

  --z-index-header: 50;
  --z-index-lowest-modal: 40;
  --z-index-modal: 60;
  --z-index-tooltip: 70;
  --overlay: #0005;
}
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-black-primary: var(--black-primary);
  --color-black-secondary: var(--black-secondary);
  --color-black-third: var(--black-third);

  --color-white-primary: var(--white-primary);
  --color-white-secondary: var(--white-secondary);

  --color-gray-primary: var(--gray-primary);
  --color-gray-secondary: var(--gray-secondary);

  --color-purple-primary: var(--purple-primary);

  --color-blue-primary: rgb(var(--blue-primary));
  --color-success: rgb(var(--success));
  --color-danger: var(--danger);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.video-feed {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

button {
  cursor: pointer;
}